<h3 style="text-decoration:underline">View Patient</h3>

<form name="viewForm">
    <label style="font-weight:bold">Patient Id:</label>
    {{id}}<br /><br />
    <label style="font-weight:bold">Name:</label>
    {{name}}<br /><br />
    <label style="font-weight:bold">Gender:</label>
    {{gender}}<br /><br />
    <label style="font-weight:bold">Weight:</label>
    {{weight}}<br /><br />
    <label style="font-weight:bold">Consulting Doctor:</label>
    {{doctor}}<br /><br />
    <label style="font-weight:bold">Date of Birth:</label>
    {{dob}}<br /><br />
    <label style="font-weight:bold">Cause/Disease:</label>
    {{disease}}<br /><br />
    <label style="font-weight:bold">Contact No:</label>
    {{contact}}<br /><br />
    <label style="font-weight:bold">Registration Fee:</label>
    {{fee}}<br /><br />

    <input type="button" value="Back" ng-click="redirectToLanding()" />
</form>